.SearchContainer{
    display: flex;
    justify-content: center;
    background-color:#5E5E5E82;
    align-items: center;
    background-color: #5E5E5E82;
    box-shadow: inset 0px 4px 0px #00000040;
    width: 80vw;
    padding: 10px;
    border-radius: 25px;
}
.SearchBox{
    color: white;
    background-color:  #5e5e5e19;
    border: none;
    outline: none;
    font-size: 1.2rem;
    opacity: 0.5;
}
.searchIcon{
    color: gray
}