.DashboadContainer{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    margin-top:20%; 
    gap: 2em;
    align-items: center;
    height: 100vh;
}
.InputBtnContainer{
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}
.TitleText{
    color: #36A546CC;
    
}
.logo1Images{
    
}