*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #000000;
  /* background: linear-gradient(180deg, #000000, #000E09); */
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
}
